[".oh-my-zsh"]
type = "archive"
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
stripComponents = 1
refreshPeriod = "168h"
exclude = [
    "*/templates",
]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
stripComponents = 1
refreshPeriod = "168h"
exclude = [
    "*/.editorconfig",
    "*/.gitattributes",
    "*/.github",
    "*/.gitignore",
]

[".local/bin/eza"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" "eza_x86_64-unknown-linux-gnu.tar.gz" | quote }}
refreshPeriod = "168h"
executable = true
path = "./eza"


{{- $fontDir := "" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $fontDir = ".local/share/fonts" }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $fontDir = ".cache/chezmoi/fonts" }}
{{- end }}

{{- $fontName := "FiraCodeNerdFontMono" }}
{{- range (list
        "Bold"
        "Light"
        "Medium"
        "Regular"
        "SemiBold") }}
["{{ $fontDir }}/{{ $fontName }}-{{ . }}.ttf"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "FiraCode.tar.xz" | quote }}
refreshPeriod = "168h"
path = "{{ $fontName }}-{{ . }}.ttf"
{{- end }}


[".local/bin/uv"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
refreshPeriod = "168h"
stripComponents = 1
path = "uv"

[".local/bin/uvx"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
refreshPeriod = "168h"
stripComponents = 1
path = "uvx"


[".local/bin/aactivator"]
type = "archive-file"
url = "https://github.com/Yelp/aactivator/archive/master.tar.gz"
refreshPeriod = "168h"
exact = true
executable = true
stripComponents = 1
path = "aactivator.py"


[".local/bin/fzf"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
refreshPeriod = "168h"
path = "fzf"


[".local/bin/zoxide"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "ajeetdsouza/zoxide" (printf "zoxide-*-x86_64-unknown-%s-musl.tar.gz" .chezmoi.os) | quote }}
refreshPeriod = "168h"
path = "zoxide"


{{ range (list
    "pay-respects"
    "_pay-respects-fallback-100-request-ai"
    "_pay-respects-module-100-runtime-rules") }}
[".local/bin/{{ . }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "iffse/pay-respects" "pay-respects-*-x86_64-unknown-linux-musl.tar.zst" | quote }}
refreshPeriod = "168h"
path = "{{ . }}"
{{ end }}


# TODO: make this works for windows too
{{ if ne .chezmoi.os "windows" }}
[".local/bin/oh-my-posh"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "JanDeDobbeleer/oh-my-posh" (printf "posh-%s-%s" .chezmoi.os .chezmoi.arch) | quote }}
refreshPeriod = "168h"
exact = true
executable = true
{{ end }}


[".local/share/nvim"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "neovim/neovim" "nvim-linux-x86_64.tar.gz" | quote }}
refreshPeriod = "168h"
stripComponents = 1

{{- range (list
    "Install-Font.ps1"
    "Uninstall-Font.ps1") }}
[".local/share/{{ . }}"]
type = "archive-file"
url = {{ (gitHubLatestTag "ralish/PSWinGlue").TarballURL | trim | quote }}
refreshPeriod = "168h"
stripComponents = 1
path = "Scripts/{{ . }}"
{{- end }}


# TODO: Should probably separate out into different file
{{- if not .personal }}
[".local/bin/databricks"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "databricks/cli" (printf "databricks_cli_*_%s_%s.zip" .chezmoi.os .chezmoi.arch) | quote }}
refreshPeriod = "168h"
exact = true
executable = true
path = "databricks{{ if eq .chezmoi.os "windows" }}.exe{{ end }}"
{{- end }}
