#! /bin/bash

set -eufo pipefail


{{ $tools := list
    "pre-commit"
    "ruff"
    "hatch" -}}

{{- range $tools }}

PATH=$PATH:$HOME/.local/bin
uv tool install {{ . }}

{{- end }}


# thefuck doesn't work on python3.12
uv tool install thefuck --python python3.11 --with setuptools --with importlib
