#! /bin/bash

set -eufo pipefail


{{ $tools := list
    "ruff"
    "hatch" -}}

{{- range $tools }}

PATH=$PATH:$HOME/.local/bin
uv tool install {{ . }}

{{- end }}

# pre-commit-uv makes pre-commit install faster
uv tool install pre-commit --with pre-commit-uv

# thefuck doesn't work on python3.12
uv tool install thefuck --python python3.11 --with setuptools --with importlib
