#! /bin/bash

set -eufo pipefail

# This will run at most once a week
# {{ output "date" "+%V" | trim }}

{{ $tools := list
    "ruff"
    "hatch" -}}

{{- range $tools }}

PATH=$PATH:$HOME/.local/bin
uv tool install {{ . }}

{{- end }}

# pre-commit-uv makes pre-commit install faster
uv tool install pre-commit --with pre-commit-uv
