[user]
	name = Olly Beagley
	email = {{ .email }}

[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'

[core]
	whitespace = trailing-space,space-before-tab
	autocrlf = input

[color]
	ui = auto

[credential]
	helper = store

[fetch]
	prune = true

[init]
	defaultBranch = main

[pager]
	branch = false
	grep = false

[pull]
	rebase = true
