[user]
	name = Olly Beagley
	email = {{ .email }}

[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'

[core]
	whitespace = trailing-space,space-before-tab
	autocrlf = {{ if eq .chezmoi.os "windows" }}true{{ else }}false{{ end }}

[color]
	ui = auto

[credential]
	helper = store

[credential "https://50335017%2boliverbeagley%40users.noreply.github.com@github.com"]
	username = 50335017%2boliverbeagley%40users.noreply.github.com

{{ if not .personal -}}
[credential "https://oliver.beagley%40puregym.com@github.com"]
	username = oliver.beagley%40puregym.com
{{- end }}

[fetch]
	prune = true

[init]
	defaultBranch = main

[pager]
	branch = false
	grep = false

[pull]
	rebase = true
